.MyButton{
    color: #333;
    background-color: #f1f1f1;
    text-align: center;
    left: 600px;
    top: 5px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 999999999
    
}

.MyButton:hover{
    background-color: #583eeea1;
}